/* css reset */
#prod-desc-container,#prod-desc-container *{box-sizing:border-box}
#prod-desc-container{font-size:16px;max-width:920px;margin:0 auto;font-family:sans-serif}
#prod-desc-container .headline-2{font-size:1.5em;margin:.83em 0}
#prod-desc-container .headline-3{font-size:1.17em;margin:1em 0}
#prod-desc-container .headline-4{font-size:1em;margin:1.33em 0}
#prod-desc-container .paragraph{margin:1em 0}
#prod-desc-container .desk-list{margin:1em 0;padding:0 0 0 20px;list-style-position:outside}
#prod-desc-container .desc-img.lazy,#prod-desc-container .desc-img{width:initial;max-width:100%;height:auto}

/* custom style */
#prod-desc-container .flex-container{display:flex;flex-wrap:wrap;flex-direction:row}
#prod-desc-container .col{padding:1em}
#prod-desc-container .col-1{width:100%}
#prod-desc-container .col-2{width:50%}
#prod-desc-container .col-3{width:33.33%}
#prod-desc-container .col-4{width:25%}
#prod-desc-container .col.right{justify-content:flex-end;text-align:right;display:flex;flex-wrap:wrap;align-content:center}
#prod-desc-container .col.center{justify-content:center;text-align:center;display:flex;flex-wrap:wrap;align-content:flex-start}
@media screen and (max-width: 919px) {
#prod-desc-container{font-size:14px;max-width:100%}
#prod-desc-container .col-1,#prod-desc-container .col-2,#prod-desc-container .col-3,#prod-desc-container .col-4{width:100%}
#prod-desc-container .col.right{justify-content:flex-start;text-align:left}
#prod-desc-container .flex-container.revert{flex-direction:column-reverse}
}